kPErrLocationOutOfBounds
^Localização fora dos limites^

kPErrLevelOutOfBounds
^Nível fora dos limites^

kPErrMustBeAtTileCenter
^Tem de ser no centro da telha^

kPErrMustBeInCorner
^Deve estar no canto^

kPErrCantBeInCorner
^Não pode ser no canto^

kPErrMustBeAgainstWall
^Deve ser contra a parede^

kPErrCantBeThroughWall
^Não é possível se cruzam parede^

kPErrMustBeOnUpstairsFloorHole
^Deve ser mais de buraco no chão^

kPErrMustBeOutside
^Deve estar fora^

kPErrMustBeInside
^Deve estar dentro^

kPErrCantIntersectOtherObjects
^Não é possível interceptar outros objetos^

kPErrMustBeOnGround
^Deve ser por sua própria telha no chão^

kPErrCantFindSlot
^não é possivel achar um lugar para colocar^

kPErrCantSupportWeight
^Não é possível suportar o peso^

kPErrCantSupportSize
^Não é possível suportar o tamanho^

kPErrCantPlaceOnTop
^Não é possível colocar em cima^

kPErrCantPlaceOnSlope
^Não é possível colocar em declive^

kPErrCantPlaceInAir
^Deve colocar na telha piso do segundo andar^

kPErrNotAllowedOnFloor
^Deve ser colocado no terreno^

kPErrNotAllowedOnTerrain
^Deve colocar em telha de assoalho^

kPErrCantAfford
^fundos insuficientes^

kPErrMustBeAgainstUnusedWall
^Deve ser contra a parede não utilizados^

kPErrMustBeOnDiagonal
^Presisa ser na diagonal^

kPErrHeightNotAllowed
^Presisa ser colocado numa mesa ou superficie^

kPErrInsufficientFunds
^Fundos insuficientes^

kPErrSpecialShowMoneyError
^Usuário nunca deve ver esta mensagem^

kPErrHasWater
^Não é possível adicionar mais água^

kPErrNoWater
^Nenhuma água para deletar^

kPErrCantPlaceOnWater
^Não é possível colocar sobre a água^

kPErrMustPlaceOnWater
^Deve ser colocado na água^

kPErrMustPlaceOnPool
^Presisa ser colocado no chão da piscina^

kPErrMustBeOnFirstLevel
^Deve estar no primeiro andar^

// wall-specific
kPErr2ndFloorNeedsSupport,
^Segunda parede precisa do apoio de primeiro andar^

kPErrMustRemoveObjectsOnWall,
^Deve remover objetos na parede primeiro^

// wallpaper-specific
kMustBeAgainst2ndFloorWall
^Deve ser na parede do segundo andar^

kPErrCannotDeleteObject
^Não é possível excluir objeto em uso^

kPErrObjectNotOwnedByYou
^Você não é dono disso!^

kPErrCounterHeight
^Deve ser colocado no balcão^

kPErrCantBePickedup
^Não pode pegar^

kPErrInUse
^Não é possível selecionar objeto em uso^

kPErrCantBePickedupOutOfBounds
^Não pode pegar - localização fora dos limites^

kPErrCantEffectFirstLevelFromSecondLevel
^Não é possível efectuar primeiro nível para o segundo nível^

kPErrCantPlaceInAirOtherLevel
^Deve se conectar ao segundo andar^

kPErrNotAllowedOnFloorOtherLevel
^Não é possível se cruzam no objeto do segundo andar^

kPErrCannotPlaceComputerOnEndTable,
^Não é possível colocar sobre a mesa final^

kPErrCannotDeletePoolWhilePeopleAreInIt
^Não é possível excluir piscina com Sims nele^

kPErrMustRemoveLadderOrDivingBoardBeforeDeletingPool
^Primeiro exclua escada ou prancha de saltos^

kPErrCannotWallpaperFence
^Não é possível colocar papel de parede em cercas^

kPErrMustHaveMoreSpaceFromCeiling
^Deve ter mais espaço do teto^

kPErrTooManyObjectsOnTheLot
^Limite excedido de objeto na Propriedade^

kpErrCantPlaceOnForSaleObject
^Não é possível colocar no objeto para venda^
