^Primeiro andar^
^Segudo andar^
^sala^
^Virar esquerda^
^Virar direita^
^Mais zoom +^
^Menos zoom -^
^Paredes para cima^
^Paredes cortadas^
^Paredes para baixo^
^Modo simulação - F1^
^Modo Compra - F2^
^Modo construção - F3^
^Modo Opções - F5^
^Fundos^
^^
^^
^^
^^
^^
^Contagem de amigos^

^Manhã^
^Tarde/Noite^

^Ajuda^
